#transy{
  width: 100%;
  height: 100%;
  float: left;
  background: #08233e;
  opacity: 0.8;
  filter: alpha(opacity=90);
  position: absolute;
  z-index: -1;
}

html,body{
  margin:0;
  padding:0;
  font-family: Helvetica Neue, Helvetica, Arial;
  color: #ffffff;
  height: 100%;
  /*background-image: url(../files/bg.jpg) no-repeat center center fixed;*/
  background: url(../files/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-header {
  width: 100%;
  text-align: center;
  float: center;
  /*background-image: url(../files/desktop-photo.jpg);*/
}


.full-width {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.octagon, .octagon div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 180px;
  height: 180px;
}
.octagon {
  transform: rotate(45deg);
  margin-top: 25px;
}
.octagon1 {
  position: relative;
  width: 100%;
  transform: rotate(-45deg);
}
.octagon:hover img {
  -webkit-filter:brightness(50%);
  -moz-filter:brightness(50%);
  filter: url(#brightness);
  filter:brightness(50%);

}
.octagon h3 {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  color: white;
}
.octagon:hover h3 {
  text-align: center;
  display: block;
  filter:brightness(100%);
}
