.intro-header {
  width: 100%;
  text-align: center;
  float: center;
  background-image: url(../files/desktop-photo.jpg);
}


.full-width {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.octagon, .octagon div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
.octagon {
  transform: rotate(45deg);
}
.octagon1 {
  position: relative;
  width: 100%;
  transform: rotate(-45deg);
}
.octagon:hover img {
  -webkit-filter:brightness(50%);
  -moz-filter:brightness(50%);
  filter: url(#brightness);
  filter:brightness(50%);

}
.octagon h3 {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  color: white;
}
.octagon:hover h3 {
  text-align: center;
  display: block;
  filter:brightness(100%);
}
